.navbar {
  background: rgb(47, 79, 79) !important;
  border: 0 !important;
  font-size: 20px !important;
}
.navbar .container {
  max-width: 80%;
}
button span {
  /*overwriting*/
  color: #fff !important;
  font-size: 25px;
}
/* button span is used to change the colour of the drobdown buttn */

.navbar-brand {
  font-size: 20px !important;
  color: #fff !important;

  font-family: sans-serif !important;
}

.nav-link {
  /* color: rgb(243, 247, 133) !important; */
  color: rgb(5, 160, 129) !important;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.nav-link:hover {
  color: #fff !important;
}

.nav_button {
  color: #fff !important;
  border: #fff !important;
}

.btn-primary {
  background-color: rgb(5, 160, 129) !important;
  border: 0 !important;
}

.btn-about {
  background-color: #e2dcdc !important;
  border: 0 !important;
  color: #514f4f;
  font-size: 17px !important;
  border: 1px solid #37efaf !important;
}

/* change colour of bootstrap button */
.btn-primary:hover {
  opacity: 0.7;
  /* change colour of button when hover */
}

.btn-outline-primary {
  color: rgb(47, 79, 79) !important;
  border: rgb(5, 160, 129) !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: rgb(5, 160, 129) !important;
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/arxiki.jpg);
  /* background-image: url(../img/agrrement.jpeg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* goa paralax effect */
  color: #fff;
}
#contact {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../img/contact_form.jpg);
  /* background-image: url(../img/agrrement.jpeg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* goa paralax effect */
  color: #fff;
}

#underilien_skills {
  background: rgb(47, 79, 79) !important;
}

#ipiresies .card-header {
  background-color: rgb(47, 79, 79) !important;
}
#ipiresies .card-footer {
  background-color: #fff !important;
}
#ipiresies .card {
  border-color: rgb(47, 79, 79) !important;
}
/* #arthra .card {
  min-height: 500px;
  max-height: 500px;
  
} */
.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
/* ola ta arthra to idio megethos ikonas! */

#arthra .card-body {
  width: 100%;
  height: 5vw;
}
/* about */
.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: -0.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid rgb(9, 108, 237) !important;
  z-index: -1;
  transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/*end of  about */

.section1 {
  background: #514f4f;
  color: #37efaf;
}

.section2 {
  background: #e2dcdc;
  color: #514f4f;
}

.section:hover {
  opacity: 0.9;
}
/* to make the section blink when we hover over it */
/* Start the css for the slider and all the sections inside that i have the coment have the .wrap class */
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide3 {
  background-color: #514f4f;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 15%; */
  /* add padding so that the arraows dont go above the content on mobile screen */
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

.wrap h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.wrap hr {
  width: 100px;
  margin: auto;
  border-width: 3px;
  border-color: #37efaf;
}
/* hr is the line */

.wrap p {
  font-size: 16px;
  padding-bottom: 20px;
  color: #fff;
}

/* End of image slider */

.section {
  padding: 40px 0;
}

.section h2 {
  padding: 0;
  margin: 0;
  /* remove padding and margin from h2 cause class .section has padding from the cc we added above */
}

.section .fa {
  font-size: 50px;
  /* to make bigger the "house" we added with font awsome */
}

.section img {
  width: 100%;
  /* make sure that the img in the about section stays in the container that we have predifined */
}

/* only for mobile view */
@media only screen and (max-width: 600px) {
  body {
    margin-top: 190px;
  }

  .showcase {
    height: 400px;
    padding: 60px 0;
  }

  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
    /* add padding so that the arraows dont go above the content on mobile screen */
  }
}

/* styling for accodrian */
.card-header {
  background-color: #e2dcdc !important;
  font-size: 20px !important;
  border: 1px solid #514f4f !important;
}

.card-link {
  color: #514f4f;
}

.card-link:hover {
  color: #37efaf;
}

.card-body {
  background: #b7b0b0;
  color: #514f4f;
}

/* end of styling for accordian */
/* footer */
.footer {
  font-size: 20px;
  font-family: sans-serif;
}

/* increasing the size of the fonts */
.fa-brain,
.fa-python,
.fa-soundcloud,
.fa-file-alt {
  font-size: 50px;
  padding-bottom: 10px;
}

/* TESTS!!!!! */
.my_row {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.my_column {
  flex: 50%;
}

/* .my_class {
  padding: 10px;
  box-shadow: 10px 8px rgba(33, 34, 33, 0.2);
  z-index: 100;
} */

/* video */
.responsive {
  width: 100%;
  height: 0px;
  padding-bottom: 56.2%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
